/* Global Styles */

body {
    font-family: Nunito Sans, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Header Styles */

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.17rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5rem;
}

/* Paragraph Styles */

p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* Text Styles */

strong {
    font-weight: 800;
}

del {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

/* Aside Styles */

aside {
    border-left: 5px solid;
    padding: 5px 5px 5px 9px;
    margin: 5px;
    font-style: italic;
    background-color: #f7f7f7; /* Added background color */
}

/* Section Styles */

section {
    padding: 1px 5px 20px 15px;
    margin: 5px;
    background-color: #f7f7f7; /* Added background color */
}

/* Textarea Styles */

textarea {
    width: 95%;
    height: auto;
    padding: 10px;
    font-family: Nunito Sans, sans-serif;
    border: 1px solid #ccc;
}

/* Table Styles */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

/* Button Styles */

button {
    background-color: #4CAF50;
    border-color: #3e8e41;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    background-color: #777;
    border-color: #555;
    color: #ccc;
}

/* Input Styles */

input {
    font-family: Nunito Sans, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #000;
    }

    aside {
        border-color: #ccc;
        background-color: #333;
    }

    section {
        background-color: #222;
    }

    textarea {
        background-color: #222;
        color: #fff;
    }

    th, td {
        border-color: #fff;
    }

    th {
        background-color: #444;
    }

    button:disabled {
        background-color: #444;
        border-color: #000;
        color: #ccc;
    }

    a:link {
        color: #7EF984;
    }

    a:visited {
        color: #EB80D9;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #000;
        background-color: #fff;
    }

    aside {
        border-color: #111;
        background-color: #ccc;
    }

    section {
        background-color: #ddd;
    }

    textarea {
        background-color: #ddd;
        color: #000;
    }

    th, td {
        border-color: #000;
    }

    th {
        background-color: #bbb;
    }

    button:disabled {
        background-color: #777;
        border-color: #555;
        color: #ccc;
    }

    a:link {
        color: #5ECE63;
    }

    a:visited {
        color: #CD60BB;
    }
}
