:root {
    --font-family: 'Nunito Sans', sans-serif;
    --line-height: 1.5;
    --color-primary: #3498db;
    --color-secondary: #2ecc71;
    --color-dark: #2c3e50;
    --color-light: #ecf0f1;
    --color-danger: #e74c3c;
    --color-warning: #f39c12;
    --color-info: #1abc9c;
    --color-success: #2ecc71;
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #FFFFFF;
        --color-bg: #000000;
        --color-aside-border: #EEEEEE;
        --color-aside-bg: #333333;
        --color-section-bg: #222222;
        --color-textarea-bg: #222222;
        --color-textarea-text: #FFFFFF;
        --color-border: #FFFFFF;
        --color-th-bg: #444444;
        --color-button-disabled-bg: #444444;
        --color-button-disabled-border: #000000;
        --color-button-disabled-text: #CCCCCC;
        --color-link: #7EF984;
        --color-link-visited: #EB80D9;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text: #000000;
        --color-bg: #FFFFFF;
        --color-aside-border: #111111;
        --color-aside-bg: #CCCCCC;
        --color-section-bg: #DDDDDD;
        --color-textarea-bg: #DDDDDD;
        --color-textarea-text: #000000;
        --color-border: #000000;
        --color-th-bg: #BBBBBB;
        --color-button-disabled-bg: #777777;
        --color-button-disabled-border: #555555;
        --color-button-disabled-text: #CCCCCC;
        --color-link: #5ECE63;
        --color-link-visited: #CD60BB;
    }
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1, h2, h3 {
    font-weight: 800;
    line-height: 1;
    margin: 0 0 0.5em 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1em 0;
}

strong {
    font-weight: 800;
}

del {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

aside {
    border-left: 5px solid var(--color-aside-border);
    padding: 1em;
    margin: 1em;
    font-style: italic;
    background-color: var(--color-aside-bg);
}

section {
    padding: 1em;
    margin: 1em;
    background-color: var(--color-section-bg);
    border-radius: 5px;
}

textarea {
    width: 95%;
    height: auto;
    padding: 0.5em;
    background-color: var(--color-textarea-bg);
    color: var(--color-textarea-text);
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

th, td {
    border: 1px solid var(--color-border);
    padding: 0.75em;
    text-align: left;
}

th {
    background-color: var(--color-th-bg);
}

button {
    background-color: var(--color-warning);
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: var(--color-warning);
    border-color: var(--color-dark);
}

button:disabled {
    background-color: var(--color-button-disabled-bg);
    border-color: var(--color-button-disabled-border);
    color: var(--color-button-disabled-text);
    cursor: not-allowed;
}

a:link {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    text-decoration: underline;
}

input {
    font-family: var(--font-family);
    padding: 0.5em;
    border: 1px solid var(--color-border);
    border-radius: 5px;
}
