body {
    font-family: Nunito Sans, sans-serif;
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {

    body {
        color: #FFFFFF;
        background-color: #000000;
    }

    header {
        background-color: #222222;
    }

    aside {
        border-color: #EEEEEE;
        background-color: #333333;
    }

    section {
        background-color: #222222;
    }

    textarea {
        background-color: #222222;
        color: #FFFFFF;
    }

    th, td {
        border-color: #FFFFFF;
    }

    th {
        background-color: #444444;
    }

    button:disabled {
        background-color: #444444;
        border-color: #000000;
        color: #CCCCCC;
    }

    a:link {
        color: #7EF984;
    }

    a:visited {
        color: #EB80D9;
    }

}

@media (prefers-color-scheme: light) {

    body {
        color: #000000;
        background-color: #FFFFFF;
    }

    header {
        background-color: #DDDDDD;
    }

    aside {
        border-color: #111111;
        background-color: #CCCCCC;
    }

    section {
        background-color: #DDDDDD;
    }

    textarea {
        background-color: #DDDDDD;
        color: #000000;
    }

    th, td {
        border-color: #000000;
    }

    th {
        background-color: #BBBBBB;
    }

    button:disabled {
        background-color: #777777;
        border-color: #555555;
        color: #CCCCCC;
        cursor: not-allowed;
    }

    a:link {
        color: #5ECE63;
    }

    a:visited {
        color: #CD60BB;
    }

}




h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.17rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5em;
}

header {
    padding: 0.1em 1em;
}



p {
    font-size: 1rem;
    font-weight: 400;
}



strong {
    font-weight: 800;
}

del {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}



aside {
    border-left: 5px solid;
    padding: 5px 5px 5px 9px;
    margin: 5px;
    font-style: italic;
}

section {
    padding: 1px 5px 20px 15px;
    margin: 5px;
}

textarea {
    width: 95%;
    height: auto;
}



table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: 8px;
    text-align: left;
}



button {
    background-color: #FAEC81;
    border-color: #C8BD67;
    border-style: solid;
    border-width: 2px;
    color: #000000;
}

button:disabled {
    cursor: not-allowed; 
}




input {
    font-family: Nunito Sans, sans-serif;
}

